<script src="http://code.jquery.com/jquery.js"></script>
<script src="jquery.tmpl.js"></script>
<script>
jQuery(function(){
	var dataObject = {
        	name: "John Resig",
        	url: "http://ejohn.org/",
        	cities: [
                	"Boston, MA",
                	"San Francisco, CA"
        	]
	};
	var products = [
        { name: "Widget 1", price: 12.99, special: false },
        { name: "Deleted Widget", price: 12.99, special: false, deleted: true },
        { name: "Widget 2", price: 9.99,  special: true, actualPrice: 5.99 },
        { name: "Widget 3", price: 35.59, special: true, actualPrice: 19.95 },
        { name: "Widget 4", price: 12.99, special: false }
	];
	
	var arrayOfDataObjects = [ dataObject, dataObject, dataObject ];
	
	var tmpl = '<li>{%= $i %}) <a href="{%= url %}">{%= name %}</a> {%= $context.options.cities ? ("("+cities.join(", ")+")") : "" %}</li>';
	$("#sometmpl")
        	.render( dataObject ) // Returns a LI with all the data filled in
        	.appendTo("ul");

	$("#sometmpl")
        	.render( arrayOfDataObjects ) // Returns multiple LIs with data filled in
        	.appendTo("ul");

	$("#sometmpl2")
        	.render( arrayOfDataObjects ) // Returns multiple LIs with data filled in
        	.appendTo("ul");

	$("#sometmpl3")
        	.render( arrayOfDataObjects, { cities: false } ) // Uses parameters and $context
        	.appendTo("ul");
	
	// Appends one LI, filled with data, into the UL
	$("ul").append( tmpl, dataObject );

	// Appends multiple LI, filled with data, into the UL
	$("ul").append( tmpl, arrayOfDataObjects, { cities: false } );
	
	// Demonstrate using rendered and rendering callbacks
	function rendering( context ) {
        // called before each item renders
        var item = context.dataItem;

        // return false to cancel rendering of this item altogether
        if (item.deleted) return false;
        
        // setup additional information to be used more clearly within the template
        // (avoids complex expressions)
        item.tax = Math.floor( item.price * 8.75 ) / 100;
	}
	function rendered( context, dom ) {
        // called after each item renders but before added to the dom
        var dataItem = context.dataItem;
        if ( dataItem.special ) 
            jQuery(dom).click(function() {
                alert( dataItem.name + " actually costs: $" + dataItem.actualPrice );
            });
	}
	$("#producttemp")
        	.render( products, {
                rendering: rendering,
                rendered: rendered } ) // Callbacks
        	.appendTo("ul");
        	
    // demonstrate using nested templates
	$("#sometmpl4")
        	.render( arrayOfDataObjects, {
                rendered: function( context, dom ) {
                    jQuery(dom).find(".cities")
                        .append( "#citytemplate", context.dataItem.cities );
                }
        	}) 
        	.appendTo("ul");
    	
});
</script>

<script id="sometmpl" type="text/html">
        <li>{%= $i %}) <a href="{%= url %}">{%= name %}</a>
                ({%= cities.join(", ") %})</li>
</script>

<script id="sometmpl2" type="text/html">
	<li>{%= $i %}) <a href="{%= url %}">{%= name %}</a> Cities:
	{% for ( var i = 0; i < cities.length; i++ ) {
		text( cities[i] );
	} %}</li>
</script>

<script id="sometmpl3" type="text/html">
	<li>{%= $i %} of {%= $context.data.length-1 %}) <a href="{%= url %}">{%= name %}</a> 
	{% if ($context.options.cities) { %}
	Cities:
	{%  for ( var i = 0; i < cities.length; i++ ) {
		    text( cities[i] );
	    }
	   } %}</li>
</script>

<script id="sometmpl4" type="text/html">
	<li>{%= $i %}) <a href="{%= url %}">{%= name %}</a> Cities:
	<ul class='cities'></ul>
	</li>
</script>

<script id="citytemplate" type="text/html">
    <li>{%= $context.dataItem %}</li>
</script>


<script id="producttemp" type="text/html">
    <li>
        {%= name %}
        Price: ${%= price %} (tax: ${%= tax %})
        {% if ( special ) { %}
        <em>Actual price is too low for us to show! Click here to see it.</em>
        {% } %}
    </li>
</script>

<ul></ul>
