<script src="jquery.js"></script>
<script src="jquery.tmpl.js"></script>
<script>
jQuery(function(){
	var dataObject = {
        	name: "John Resig",
        	url: "http://ejohn.org/",
        	cities: [
                	"Boston, MA",
                	"San Francisco, CA"
        	]
	};
	
	var arrayOfDataObjects = [ dataObject, dataObject, dataObject ];
	
	var tmpl = '<li><%= $i %>) <a href="<%= url %>"><%= name %></a> (<%= cities.join(", ") %>)</li>';

	$("#sometmpl")
        	.render( dataObject ) // Returns a LI with all the data filled in
        	.appendTo("ul");

	$("#sometmpl")
        	.render( arrayOfDataObjects ) // Returns multiple LIs with data filled in
        	.appendTo("ul");

	$("#sometmpl2")
        	.render( arrayOfDataObjects ) // Returns multiple LIs with data filled in
        	.appendTo("ul");
	
	// Appends one LI, filled with data, into the UL
	$("ul").append( tmpl, dataObject );

	// Appends multiple LI, filled with data, into the UL
	$("ul").append( tmpl, arrayOfDataObjects );
});
</script>

<script id="sometmpl" type="text/html">
        <li><%= $i %>) <a href="<%= url %>"><%= name %></a>
                (<%= cities.join(", ") %>)</li>
</script>

<script id="sometmpl2" type="text/html">
	<li><%= $i %>) <a href="<%= url %>"><%= name %></a> Cities:
	<% for ( var i = 0; i < cities.length; i++ ) {
		text( cities[i] );
	} %></li>
</script>

<ul></ul>
