body
{
	background-color: #b9090b;
	font-family: Verdana;
	font-size: 12px;
}

#pageBody
{
	display: block;
	clear:both;
	position: relative;
	margin: auto;
	width: 90%;
	background-color: White;
	padding: 10px 15px 0 15px;
}

#genres
{
	clear:both;
	display: block;
	padding: 0;
}

#genres li
{
	list-style: none;
	float: left;
	border: 1px solid #ccc;
	text-decoration: none;
	margin: 0 5px 0 0;
	padding: 5px;
	cursor: pointer;
}

#genres li:hover
{
	border: 1px solid #003f7e;
}

#genres li.selected
{
	border: 1px solid #003f7e;
	color: #000;
	font-weight: 700;
	background-color: #eee;
}

#pager
{
	width: 100%;
	float: left;
	clear:left;
	margin: 0 0 10px;
}

#pager ul.pages
{
	display: block;
	border: none;
	text-transform: uppercase;
	font-size: 10px;
	padding: 0;
}

#pager ul.pages li
{
	list-style: none;
	float: left;
	border: 1px solid #888;
	text-decoration: none;
	margin: 0 5px 0 0;
	padding: 5px;
}

#pager ul.pages li:hover
{
	border: 1px solid #00376f;
}

#pager ul.pages li.pgEmpty
{
	border: 1px solid #ccc;
	color: #aaa;
	cursor: default;
}

#pager ul.pages li.pgCurrent
{
	border: 1px solid #003f7e;
	color: #000;
	font-weight: 700;
	background-color: #eee;
}

#movieList
{
	display: block;
	float: left;
	width: 49.7%;
	clear:both;
}

#movieList > div
{
	border: 1px solid #00509f;
	margin-bottom: 10px;
	padding: 8px;
}

#movieList div div
{
	margin-right: 8px;
	float: left;
	width: 120px;
	height: 150px;
}

#movieList div img
{
	height: 150px;
}

#movieList div br, #pageBody br 
{
	clear:both;
}

.buyButton {
/* 	background: url(buyButton.png) no-repeat 0px -20px) */
}

#bookingsList
{
    border-collapse:collapse; 
	border: 1px solid #00509f;
	width: 49.7%;
	float: right;
}

#bookingsList tr
{
	border: 1px solid #00509f;
	cursor:pointer;
}

#bookingsList td
{
	padding:8px;
}

.editBooking > div
{
	float: right;
	height:0px;
}

.editBooking .fields
{
	float: left;
}

.editBooking .fields span
{
	margin: 4px 0;
	display: inline-block;
	width: 150px;
}

.editBooking .fields strong
{
	margin-bottom: 6px;
	display: inline-block;
}

.editBooking .fields input
{
	margin: 3px 0;
	width: 250px;
}

.editBooking div img
{
	height: 100px;
}

