<script src="http://code.jquery.com/jquery.js"></script>
<script src="../jquery.tmpl.js"></script>
<script>
$(function(){
	var people = [
		{
			firstName: "John",
			lastName: "Resig",
			url: "http://ejohn.org/",
			cities: [
				{ name: "Boston", state: "MA" },
				{ name: "San Francisco", state: "CA" }
			],
			name: getName
		},
		{
			firstName: "Dave",
			lastName: "Reed",
			url: "http://dave.org/",
			name: getName
		},
		{
			firstName: "Boris",
			lastName: "Moore",
			url: "http://boris.org/",
			cities: [
				{ name: "Redmond", state: "WA" },
				{ name: "Seattle", state: "WA" },
				{ name: "New York", state: "NY" }
			],
			name: getName
		}
	];
	
	function getName( context ) {
		return this.firstName + " " + this.lastName;
	}
	
	$.templates.value = $.tmpl( "#tmplValue" );

	$("ul").append( "#composite", people, {
		name: { label: "Name: ", invert: true },
		first: { label: "First Name: " },
		cities: { heading: "Favorite Cities" }
	});
});
</script>

<script id="composite" type="text/html">
	<li>====================</li>
	{{render(name(), $options.name) $.templates.value}}
	{{render(firstName, $options.first) "value"}}
	{{if cities}}
		{{render(cities, $options.cities) "#tmplCity"}}
	{{/if}}
	{{if $i===$context.dataArray.length-1}}
		<li>====================</li>
	{{/if}}
</script>
	
<script id="tmplValue" type="text/html">
	<li>${$options.label}${this}</li>
</script>

<script id="tmplCity" type="text/html">
	{{if $options.heading && $i===0}}
		<li><i>-------${$options.heading}</i>-------</li>
	{{/if}}    
	<li>City ${$i+1} - ${name}, ${state}</li>
</script>

<ul></ul>
