<script src="http://code.jquery.com/jquery.js"></script>
<script src="../jquery.tmpl.js"></script>
<script>
jQuery(function(){
	var dataObject = {
		firstName: "John",
		lastName: "Resig",
		url: "http://ejohn.org/",
		cities: [
			"Boston, MA",
			"San Francisco, CA"
		],
		name: getName,
		cityJoin: cityJoin
	};
	
	var arrayOfDataObjects = [ 
		dataObject, 
		{
			firstName: "Dave",
			lastName: "Reed",
			url: "http://dave.org/",
			cities: [
				"Seattle, WA",
				"Los Angeles, CA",
				"New York, NY"
			],
			name: getName,
			cityJoin: cityJoin
		},
		{
			firstName: "Boris",
			lastName: "Moore",
			url: "http://boris.org/",
			cities: [
				"Redmond, WA",
				"Seattle, WA",
				"New York, NY"
			],
			name: getName,
			cityJoin: cityJoin
		}
	];
	
	function cityJoin( context, separator ) {
		return this.cities.join( separator || ", " );
	}
	
	function getName() {
		return this.firstName + " " + this.lastName;
	}
	
	var tmpl = '<li>${$i}) <a href="${url}">${name()}</a> {{if $context.showCities}}(${cityJoin()}){{/if}}</li>';
		
	$("#sometmpl")
		.render( dataObject ) // Returns a LI with all the data filled in
		.appendTo("ul");

	$("#sometmpl")
		.render( arrayOfDataObjects ) // Returns multiple LIs with data filled in
		.appendTo("ul");

	$("#sometmpl2")
		.render( arrayOfDataObjects ) // Returns multiple LIs with data filled in
		.appendTo("ul");

	// Render the same template with different options
	$("#sometmpl3")
		.render( arrayOfDataObjects, { showCities: false } )
		.appendTo("ul");
	$("#sometmpl3")
		.render( arrayOfDataObjects, { showCities: true } ) 
		.appendTo("ul");
	
	// Appends one LI, filled with data, into the UL
	$("ul").append( tmpl, dataObject );

	// Appends multiple LIs for each item. Use options referenced in tmpl string
	$("ul").append( "#sometmpl4", arrayOfDataObjects, { showCities: true } );

	// Example of template that has leading or trailing text
	$("div").append( "#leadingOrTrailingText", arrayOfDataObjects );
});
</script>

<script id="sometmpl" type="text/html">
	<li>${$i}) <a href="${url}">${name()}</a> (${cityJoin(" (param with escaped \\, \' and \"!)... ")})</li>
</script>

<script id="sometmpl2" type="text/html">
	<li>${$i}) <a href="${url}">${name()}</a> Cities: {{each cities}} ${this} {{/each}}</li>
</script>

<script id="sometmpl3" type="text/html">
	<li>${$i+1} of ${$context.array.length}) <a href="${url}">${name()}</a>
	{{if $context.showCities}}
		Cities: {{each cities}} ${this} {{/each}}
	{{else}}
		No Cities
	{{/if}}
	</li>
</script>

<script id="sometmpl4" type="text/html">
	<li>${$i}) <a href="${url}">${name()}</a> ({{if $context.showCities}}${cityJoin()}{{/if}})</li>
</script>

<script id="leadingOrTrailingText" type="text/html">
	${firstName} <strong>${lastName}</strong> <br/>
</script>

<ul></ul>

<div></div>
