<script src="http://code.jquery.com/jquery.js"></script>
<script src="../jquery.tmpl.js"></script>
<script>

var dataObject = {
	firstName: "John",
	lastName: "Resig",
	url: "http://ejohn.org/",
	cities: [
		"Boston, MA",
		"San Francisco, CA"
	]
};

var arrayOfDataObjects = [ 
	dataObject, 
	{
		firstName: "Dave",
		lastName: "Reed",
		url: "http://dave.org/",
		cities: [
			"Seattle, WA",
			"Los Angeles, CA",
			"New York, NY"
		]
	},
	{
		firstName: "Boris",
		lastName: "Moore",
		url: "http://boris.org/",
		cities: [
			"Redmond, WA",
			"Seattle, WA",
			"New York, NY"
		]
	}
];

function cityJoin( separator ) {
	return this.data.cities.join( separator || ", " );
}

function getName() {
	return this.data.firstName + " " + this.data.lastName;
}

function index( array ) {
	return $.inArray( this.data, array ) + 1;
}

jQuery(function(){
	var tmpl = '<li><a href="${url}">${getName()}</a> {{if $ctx.showCities}}(${cityJoin()}){{/if}}</li>';
		
	$("#sometmpl")
		.tmpl( dataObject ) // Returns a LI with all the data filled in
		.appendTo("ul");

	$("#sometmpl")
		.tmpl( arrayOfDataObjects ) // Returns multiple LIs with data filled in
		.appendTo("ul");

	$("#sometmpl2")
		.tmpl( arrayOfDataObjects ) // Returns multiple LIs with data filled in
		.appendTo("ul");

	// Render the same template with different options
	$("#sometmpl3")
		.tmpl( arrayOfDataObjects, { array: arrayOfDataObjects, showCities: false } )
		.appendTo("ul");
	$("#sometmpl3")
		.tmpl( arrayOfDataObjects, { array: arrayOfDataObjects, showCities: true } ) 
		.appendTo("ul");
	
	// Appends one LI, filled with data, into the UL
	$("ul").append( tmpl, dataObject );

	// Appends multiple LIs for each item. Use options referenced in tmpl string
	$("ul").append( "#sometmpl4", arrayOfDataObjects, { showCities: true } );

	// Example of template that has leading or trailing text
	$("div").append( "#leadingOrTrailingText", arrayOfDataObjects );
});
</script>

<script id="sometmpl" type="text/html">
	<li>${index(arrayOfDataObjects)}) <a href="${url}">${getName()}</a> (${cityJoin(" (param with escaped \\, \' and \"!)... ")})</li>
</script>

<script id="sometmpl2" type="text/html">
	<li>${index(arrayOfDataObjects)}) <a href="${url}">${getName()}</a> Cities: {{each cities}} ${this} {{/each}}</li>
</script>

<script id="sometmpl3" type="text/html">
	<li>${index($ctx.array)} of ${$ctx.array.length}) <a href="${url}">${getName()}</a>
	{{if $ctx.showCities}}
		Cities: {{each cities}} ${this} {{/each}}
	{{else}}
		No Cities
	{{/if}}
	</li>
</script>

<script id="sometmpl4" type="text/html">
	<li>${index(arrayOfDataObjects)}) <a href="${url}">${getName()}</a> ({{if $ctx.showCities}}${cityJoin()}{{/if}})</li>
</script>

<script id="leadingOrTrailingText" type="text/html">
	${firstName} <strong>${lastName}</strong> <br/>
</script>

<ul></ul>

<div></div>
